@charset "UTF-8";
html {
  font-size: 16px;
  font-size: 1rem;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.485;
  font-family: "M PLUS 1", sans-serif;
}
body.is-open {
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-- foundationフォルダの中の_index.scss --*/
.l-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: beige;
}
@media screen and (min-width: 1280px) {
  .l-container {
    grid-template-columns: 1fr 19%;
    grid-template-rows: 217px 1fr 150px;
  }
}

.l-header {
  background-color: #FFF7EF;
  height: 215px;
  position: relative; /* 右上menuをabsolute指定するため*/
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 217px;
  }
}
@media screen and (min-width: 1280px) {
  .l-header {
    grid-row: 1;
    grid-column: 1/2;
  }
}
.l-header__logo {
  text-align: center;
  margin-top: 43px;
}
.l-header__logo img {
  width: 203px;
  height: 47px;
}

@media screen and (min-width: 1280px) {
  .l-main {
    grid-row: 2;
    grid-column: 1;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
}
@media screen and (min-width: 1280px) {
  .l-sidebar {
    display: block;
    grid-row: 1/3;
    grid-column: 2;
  }
}

.l-footer {
  background-color: #9D8670;
  color: #ffffff;
  text-align: center;
  height: 150px;
  background-image: url(../../img/footer-layer.png);
}
@media screen and (min-width: 1280px) {
  .l-footer {
    grid-row: 3;
    grid-column: 1/3;
  }
}
.l-footer__list {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 16px;
}
.l-footer__copyright {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 70px;
}

/*-- layoutフォルダの中の_index.scss --*/
.c-button {
  border: 1px solid #707070;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border-radius: 10px;
  font-weight: 700;
  color: #707070;
}

.c-title {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  color: #ffffff;
}

.c-input {
  border: 1px solid #707070;
  background-color: #ffffff;
  border-radius: 10px 8px 10px 10px;
  padding: 0 45px;
}

.c-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 41px;
  font-size: 2.5625rem;
  color: #ffffff;
  position: relative; /* 疑似要素(_)をabsoluteにするため */
}
.c-heading::after {
  content: "";
  display: inline-block;
  background-color: #ffffff;
  width: 33.89px;
  height: 4px;
  position: absolute;
  top: 1.7em;
  left: 0;
}

.c-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.c-cover.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.502);
  z-index: 50;
}

/*-- componentフォルダの中の_index.scss --*/
.p-hamburger {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #707070;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 200;
  transition: 0.3s;
}
.p-hamburger.is-open > span {
  visibility: hidden;
}
.p-hamburger.is-open::before, .p-hamburger.is-open::after {
  display: block;
  content: "";
  width: 45.25px;
  height: 6px;
  background-color: #707070;
  position: absolute;
  top: 12px;
}
.p-hamburger.is-open::before {
  transform: rotate(-45deg);
}
.p-hamburger.is-open::after {
  transform: rotate(45deg);
}

.p-home-visual {
  position: relative; /* テキストをabsoluteするため */
}
.p-home-visual__bg {
  background-image: url(../../img/main-visual-sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 285px;
}
@media screen and (min-width: 768px) {
  .p-home-visual__bg {
    background-image: url(../../img/main-visual-tablet.jpg);
    height: 285px;
  }
}
.p-home-visual__text {
  position: absolute;
  top: 122px;
  left: 25px;
}
@media screen and (min-width: 768px) {
  .p-home-visual__text {
    left: 61px;
  }
}

.p-access {
  background-color: #000000;
  width: 100%;
  margin-top: 49px;
}
.p-access__map {
  position: relative; /* iframeとbefore(layer)をabsoluteにするため */
  width: 100%;
  z-index: 1;
  padding-top: 184%; /* 比率を固定 */
}
.p-access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 59.71%;
}
.p-access__map::before {
  content: "";
  display: block;
  width: 100%;
  height: 415px;
  background-color: rgba(0, 0, 0, 0.2855);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.p-access__text {
  position: relative;
  z-index: 5;
  color: #ffffff;
  font-weight: 700;
  width: 79%;
  margin: -184% auto 0 auto;
}
.p-access__text .c-heading {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "M PLUS 1", sans-serif;
  margin-top: 42px;
}
.p-access__text .c-heading::after {
  width: 75px;
  height: 2px;
}
.p-access__text p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.4;
  margin-top: 29px;
}

.p-search {
  text-align: center;
  margin-top: 40px;
  position: relative; /* 虫眼鏡をabusoluteにするため */
  height: auto;
}
.p-search::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../img/mushimegane.svg);
  position: absolute;
  top: 12px;
  left: 33px;
}
@media screen and (min-width: 768px) {
  .p-search::before {
    top: 11px;
    left: 144px;
  }
}
.p-search__text {
  height: auto;
}
.p-search__text.c-input {
  width: 58%;
  height: 46px;
}
.p-search__button.c-button {
  width: 24%;
  height: 46px;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .p-search__button.c-button {
    width: 16%;
    margin-left: 14px;
  }
}

.p-panel {
  position: relative; /* heading部分をabsoluteにするため */
  width: 100%;
}
.p-panel .c-flex {
  width: 100%;
  padding-bottom: 16px;
}
.p-panel__bg--left, .p-panel__bg--right {
  background-image: url(../../img/TakeOut.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 54%;
  min-height: 642px;
  margin: 20px 5%;
}
.p-panel__bg--right {
  background-image: url(../../img/EatIn.jpg);
}
.p-panel__heading {
  position: absolute;
  top: 13px;
  left: 35px;
}
.p-panel__text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  height: auto;
  margin: 0 auto;
  color: #3C2A10;
  padding: 16px;
}
.p-panel__text-heading {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.p-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
  z-index: 100;
  transition: 0.3s;
}
.p-sidebar.is-open {
  width: 87%;
}

/*-- projectフォルダの中の_index.scss --*/ /*-- utilityフォルダの中の_index.scss --*/
/*# sourceMappingURL=style.css.map */