@use "../../foundation/forward" as *;

.p-panel {
    position: relative; /* heading部分をabsoluteにするため */
    width: 100%;
    & .c-flex {
        width: 100%;
        padding-bottom: 16px;
    }
    &__bg--left {
        background-image: url(../../img/TakeOut.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 54%;
        min-height: 642px;
        margin: 20px 5%;
    }
    &__bg--right {
        @extend .p-panel__bg--left;
        background-image: url(../../img/EatIn.jpg);
    }
    &__heading {
        position: absolute;
        top: 13px;
        left: 35px;
    }
    &__text {
        background-color: rgba(255, 255, 255, 0.8);
        width: 90%;
        height: auto;
        margin: 0 auto;
        color: $brown;
        padding: 16px;
    }
    &__text-heading {
        @include font-size(22);
        font-weight: $bold;
        margin-bottom: 8px;
    }
}