@use "../foundation/forward" as *;

.l-footer {    
    background-color: $footer-color;
    height: 150px;
    background-image: url(../../img/footer-layer.png);
    @include pc {
        grid-row: 3;
        grid-column: 1/3;
    }
}