@use "../foundation/forward" as *;

.p-home-visual {
    position: relative; /* テキストをabsoluteするため */
    &__bg {
        background-image: url(../../img/main-visuai-sp.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 285px;        
        @include tablet {
            background-image: url(../../img/mainvisual-pc.jpg);
            height: 530px;
        }    
    }
    &__text {
        position: absolute;
        top: 122px;
        left: 25px;
    }
}