@use "../foundation/forward" as *;

.p-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
    z-index: 100;
    transition: 0.3s;

    &.is-open {
        width: 87%;
    }
}