@use "../foundation/forward" as *;

.p-search {
    text-align: center;
    margin-top: 40px;
    position: relative; /* 虫眼鏡をabusoluteにするため */
    // width: 100%;
    height: auto;
    &::before {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../../img/mushimegane.svg);
        position: absolute;
        top: 12px;
        left: 36px;
    }
    &__text {
        // width: 100%;
        height: auto;
        &.c-input {
            width: 58%;
            height: 46px;
        }
    }
    &__button {
        &.c-button {
            width: 24%;
            height: 46px;
            margin-left: 16px;
        }
    }

}